# Folder Sampah (Wajib Ignore)
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

# File System (Wajib Ignore)
.DS_Store
Thumbs.db

# Visual Studio (Wajib Ignore)
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.suo